{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Profile Page</h1>
        {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}" width="100">
        {% endif %}
        <p>User - {{ user }}</p>
        <p>Username - {{ user.username }}</p>
        <p>Email - {{ user.email }}</p>
        <p>Name - {{ user.first_name }} {{ user.last_name }}</p>
        <p>Address - {{ user.address }}</p>
        <p>Phone - {{ user.phone }}</p>
        <p>Description - {{ user.description }}</p>
        <p>Description - {{ user.userprofile.description }}</p>
        <p>Address - {{ user.userprofile.address }}</p>
        <p>Phone - {{ user.userprofile.phone }}</p>
        <p>website - {{ user.userprofile.website }}</p>

    </div>
{% endblock %}